version: '3.8'

services:
  db:
    restart: always
    image: postgres:latest
    volumes:
      - ./.database/postgres/data:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=qwerty
    ports:
      - 5436:5432
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 10s
      retries: 5

  migrate:
    build: ./backend
    depends_on:
      db:
        condition: service_healthy
    environment:
      - DB_PASSWORD=qwerty
    command: migrate -path ./schema -database 'postgres://postgres:qwerty@db:5432/postgres?sslmode=disable' up

  backend:
    restart: always
    build: ./backend
    depends_on:
      - migrate
      - minio
    environment:
      - DB_PASSWORD=qwerty
    command: ./verarti-app
    ports:
      - 8000:8000

  minio:
    image: minio/minio
    container_name: minio
    environment:
      AWS_ACCESS_KEY_ID: minioadmin
      AWS_SECRET_ACCESS_KEY: minioadmin
      AWS_ENDPOINT_URL: http://localhost:9000
    ports:
      - "9000:9000"
      - "9001:9001"
    command: server /data --console-address ":9001"

  minio-init:
    image: minio/mc
    depends_on:
      - minio
    volumes:
      - ./backend/docs:/docs
    entrypoint: >
      /bin/sh -c "
      sleep 10 &&
      mc alias set local http://minio:9000 minioadmin minioadmin &&
      mc mb local/photo &&
      mc cp /docs/default_avatar.png local/photo/default/avatar.png
      "

    # Сервис для Telegram-бота
  telegram-bot:
    build: ./VerartiTGBotForMaster
    container_name: telegram-bot
    environment:
      - SPRING_PROFILES_ACTIVE=local # Активируем нужный профиль
      - TELEGRAM_BOT_TOKEN=${TELEGRAM_BOT_TOKEN} # Переменные из .env
    restart: unless-stopped
    depends_on:
      - backend # Если бот зависит от API